*{
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

#lookbook span a{
    border: none;
}
#blog .nav-link{
    color: black;
}

#blog .nav-item{
    border: none;
}




.nav-item{
    margin: 0 10px;
}

.nav-item .nav-link{
    position: relative;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
}

.nav-item .nav-link::after{
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 2px;
    background-color: #d53535;
    transition: 0.3s;
    bottom: 0;
}

 .nav-item .nav-link.active::after,
 .nav-item .nav-link:hover::after{
    width: 100%;
}



#promo .card:hover{
    box-shadow: 0px 2px 70px 0 rgba(253 71 102/ 5%);
    transform: translateY(-20px);
}

#promo .card{
    transition: transform 2s cubic-bezier(0.05, 0.2, 0.1, 1 );
}

#promo .barer{
    text-decoration: line-through;
}