.size-btn {
    border: 1px solid #2c3e50 !important;
    border-radius: 70px !important;
    padding: 8px 14px !important;
    font-weight: bold !important;
    background-color: white!important;
    color: #2c3e50!important;
    transition: all 0.3s ease!important;

  }
  
  .size-btn:hover {
    background-color: #dad9d8!important;
    color: white!important;
    cursor: pointer!important;
  }
  
  .size-btn.selected {
    background-color: #f0b920!important;
    
    color: white!important;
  }
  